body {
  background-color: #F2E8E4;
}

nav {
  background-color: #8090A6;
}

.jumbotron {
  width: 80%;
  margin: auto;
  margin-top: 5em;
  background-color: #F2D0D0;
}

.container {
  margin-top: 5em;
}

